* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.background {
  height: 85%;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 8%;
}
.row1 {
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  gap: 20px;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12 {
  height: 80%;
  width: 20%;
  background-color: gainsboro;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
p {
  font-size: 30px;
}
img {
  height: 100%;
}

.box1:hover {
  background-image: url("https://th.bing.com/th/id/R.622a1f268f1500f172365cea95e477f8?rik=rGbMbm9nf2%2fOOA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2f5%2f5%2f482163.jpg&ehk=92YNqq3yENp7mUEkoywWtPu25qD8PjKp5RMnQBDBNpc%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}
.box2:hover {
  background-image: url("https://tse3.mm.bing.net/th/id/OIP.XJ1OHcAYDqf1fd5mmqGQzgHaGH?cb=ucfimg2&ucfimg=1&w=1090&h=901&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box3:hover {
  background-image: url("https://th.bing.com/th/id/OIP.KaZQBfr1uBNyfeI2jaX_bAHaFS?o=7&cb=ucfimg2&rm=3&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box4:hover {
  background-image: url("https://tse1.mm.bing.net/th/id/OIP.gjMY2BrPShtMXPEd_VA39AHaEo?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box5:hover {
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.j7f4DP-mNiX1CKsYLDkzhQHaE8?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box6:hover {
  background-image: url("https://th.bing.com/th/id/OIP.bMbeegljoVcCsfF8lP0NkAHaEo?o=7&cb=ucfimg2&rm=3&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box7:hover {
  background-image: url("https://tse1.explicit.bing.net/th/id/OIP.cNvqV_neaXIopoKQhkWZPwHaF5?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box8:hover {
  background-image: url("https://th.bing.com/th/id/OIP.sXY2oy83jm4HOzZBWnYHvQHaEo?o=7&cb=ucfimg2&rm=3&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box9:hover {
  background-image: url("https://tse3.mm.bing.net/th/id/OIP.LuLW176q0ZR21YYtiTlARQHaEK?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box10:hover {
  background-image: url("https://tse4.mm.bing.net/th/id/OIP.datitbolpV1fClhZOSvJBwHaE_?cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box11:hover {
  background-image: url("https://th.bing.com/th?id=OIF.GTESPr%2Fnt1eEijk%2BA2vOBg&cb=ucfimg2&ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
  background-size: cover;
}
.box12:hover {
  background-image: url("https://5.imimg.com/data5/SELLER/Default/2024/3/398259183/BN/ZU/FW/83429214/wallpaper-print-1000x1000.webp");
  background-size: cover;
}
.btn:hover p {
  display: none;
}
